<!-- <app-star buttonTitle="Hi" (bClick)="sayHi($event)"></app-star> -->


<!-- <div *ngFor="let week of weeks; let i = index">{{i}}:{{week}}</div>

<button *ngIf="isShow"(click)="sayHi('1111')">click</button>

<app-lesson4></app-lesson4>

<app-lesson2></app-lesson2>

 <app-lesson6></app-lesson6>

<app-lesson1></app-lesson1> -->

<router-outlet></router-outlet>
<br>
<a [routerLink]="['/lon1']">Lesson1</a><br>
<a [routerLink]="['/lon2']">Lesson2</a><br>
<a [routerLink]="['/lon3']">Lesson3</a><br>
<a [routerLink]="['/lon4']">Lesson4</a><br>
<a [routerLink]="['/lon5']">Lesson5</a><br>
<a [routerLink]="['/lon6']">Lesson6</a><br>
<a [routerLink]="['/lon8']">Lesson8</a><br>
<a routerLink="/lon2">123123</a>
